<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1><%= t('rent_mailer.mail_title') %></h1>
    <p>
     <%= t('rent_mailer.book_title', title: @title) %><br>
     <%= t('rent_mailer.author', author: @author) %><br>
     <%= t('rent_mailer.genre', genre: @genre) %><br>
     <%= t('rent_mailer.between_dates', begin_date: l(@begin_date, :format => :default), end_date: l(@end_date, :format => :default)) %><br>
    </p>
    <p><%= t('rent_mailer.firm') %></p>
  </body>
</html>
